:root {
    --grid-size: 1;
}

h1 {
    text-align: center;
}

#sketch-area {
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    display: grid;
    min-width: 960px;
    min-height: 960px;
    border: solid black;
    grid-template-columns: repeat(var(--grid-size), 1fr);
    grid-template-rows: repeat(var(--grid-size), 1fr);
}

.cell {
    text-align: center;
}