h1 {
    text-align: center;
}

#test {
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    display: flex;
    width: 500px;
    height: 500px;
    border: solid black;
}

